.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.about {
  margin-top: 10px;
}

.about > a {
  font-size: 20px;
}

.parent {
  flex-wrap: wrap;
  display: flex;
}

.child {
  margin: 5px;
  width: 150px;
}

@media screen and (max-width: 400px) {
  .parent {
    display: block;
  }
}